<div class="gr_head">
    <div class="container">
        <h1 class="tite_page">Tự động hóa</h1>
        <div class="breadcrumb">
            <!-- Breadcrumb NavXT 7.0.2 -->
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Trang chủ." href="https://dattech.com.vn" class="home" >
                    <span property="name">Trang chủ</span>
                </a><meta property="position" content="1">
            </span>
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Dự án." href="https://dattech.com.vn/project/" class="archive post-project-archive" >
                    <span property="name">Dự án</span>
                </a><meta property="position" content="2">
            </span>  
            <span property="itemListElement" typeof="ListItem">
                <span property="name" class="archive taxonomy project-category current-item">Tự động hóa</span>
                <meta property="url" content="https://dattech.com.vn/du-an-bien-tan-tu-dong-hoa/">
                <meta property="position" content="3">
            </span>                    
        </div>
                        
    </div>
</div>